{{ with .Site.Social.twitter }}
<li><a href="//twitter.com/{{.}}" target="_blank" title="Twitter" class="fa fa-twitter"></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
<li><a href="//youtube.com/{{.}}" target="_blank" title="YouTube" class="fa fa-youtube"></a></li>
{{ end }}

{{ with .Site.Social.apple }}
<li><a href="//podcasts.apple.com/{{.}}" target="_blank" title="Apple Podcast" class="fa fa-podcast"></a></li>
{{ end }}

{{ with .Site.Social.spotify }}
<li><a href="//open.spotify.com/{{.}}" target="_blank" title="Spotify" class="fa fa-spotify"></a></li>
{{ end }}

{{ with .Site.Social.linkedin }}
<li><a href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn" class="fa fa-linkedin"></a></li>
{{ end }}

{{ with .Site.Social.github }}
<li><a href="//github.com/{{.}}" target="_blank" title="GitHub" class="fa fa-github"></a></li>
{{ end }}
